<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="playlist">
        <h1>Latest Hits</h1>
        <ul class="container">
            <li class="text" style="text-align: center;">Title</li>
            <li class="text1">Add</li>
        </ul>
        {% for playlist in playlists %}
        <ul class="container">
            <img src="{{url_for('static',filename='')}}{{ playlist.img }}" width="80px" height="80px">
            <li class="text">{{ playlist.title }}</li>
            <form action="{{ url_for('addplaylist',id=playlist.id)}}" method="post">
                <button class="button" type="submit"><i class="fa-solid fa-plus"></i></button>
            </form>
        </ul>
        {% endfor %}
    </div>
    <div class="playlist">
        <ul class="container">
            <li class="text">Your Playlist</li>
            <li class="text1">PLAY</li>
            <form action="{{ url_for('play',id=0)}}" method="post">
               <li class="text1"> <button class="button" type="submit" style="margin-top: 0px;"> <i id="playPauseButton" class="fas fa-play"></i></button></li>
            </form>
        </ul>
        
        <ul class="container">
            <li class="text" style="text-align: center;">Title</li>
            <li class="text1">Remove</li>
        </ul>
        {% for playlist in current_playlists %}
        <ul class="container">
            <img src="{{url_for('static',filename='')}}{{ playlist.img }}" width="80px" height="80px">
            <li class="text">{{ playlist.title }}</li>
            <form action="{{ url_for('removeplaylist',id=playlist.id)}}" method="post">
                <button class="button" type="submit"><i class="fa-solid fa-minus"></i></button>
            </form>
        </ul>
        {% endfor %}
    </div>
</div>
    {% endblock %}